-r requirements.txt
black==23.9.1
flake8==6.1.0
interrogate==1.5.0
isort==5.12.0
mypy==1.6.0
pre-commit==3.5.0
pytest~=7.4.3
pytest-cov==4.1.0
yamllint==1.32.0

pip~=22.3.1
attrs~=23.1.0
wheel~=0.38.4
filelock~=3.12.4
pytz~=2023.3.post1
colorama~=0.4.6
setuptools~=65.5.1
python-dateutil~=2.8.2
py~=1.11.0
cycler~=0.12.1
six~=1.16.0
contourpy~=1.1.1
fonttools~=4.43.1
pyparsing~=3.1.1
darkdetect~=0.8.0
packaging~=23.2
kiwisolver~=1.4.5